.section.applicant-show.only-section
  .row-container.bg-green.col-xs-12.col-md-12
    .content-container.col-xs-12.col-md-5.col-md-offset-3
      .show-content
        - if @applicant.background_check_consent
          .congrats-container
            %h1 Congrats!
            %p You have completed the initial application.<br/>Someone from Instacart will be reaching out to you shortly.
            %p Now until then, sit back and relax!

            .profile-info
              %h3 Application Details
              %ul.applicant-details-list
                %li <span class='attribute-line'>Applicant:</span> #{@applicant.first_name} #{@applicant.last_name}
                %li <span class='attribute-line'>Email:</span> #{@applicant.email}
                %li <span class='attribute-line'>Phone:</span> #{@applicant.phone}
                %li <span class='attribute-line'>Region:</span> #{@applicant.region}
                %li <span class='attribute-line'>Background Check Consent:</span> #{@applicant.background_check_consent.to_s.capitalize}
                %li <span class='attribute-line'>Submitted:</span> #{@applicant.created_at.strftime("%A %B %d, %Y")}
              =link_to 'Edit Profile', edit_applicant_path(@applicant), class: 'btn btn-lg btn-block orange-btn'

        - else
          .consent-container
            %h2.title Thank you for your interest in joining our team!
            %p.one-thing One last thing!
            = render 'background_check_consent_form'