.section.applicant-show.only-section
  .row-container.bg-green.col-xs-12.col-md-12
    .content-container.col-xs-12.col-md-5.col-md-offset-3
      .show-content
        - if @applicant.background_check_consent
          .congrats-container
            %h1 Congrats!
            %p You have completed the initial application.
            %p Someone from Instacart will be reaching out to you shortly. Now until then, sit back and relax!

            =link_to 'Edit Profile', edit_applicant_path(@applicant), class: 'btn btn-lg btn-block orange-btn'
            .profile-info
              %h3 Application Details
              %ul.applicant-details-list
                %li <span class='attribute-line'>Applicant:</span> #{@applicant.first_name} #{@applicant.last_name}
                %li <span class='attribute-line'>Email:</span> #{@applicant.email}
                %li <span class='attribute-line'>Region:</span> #{@applicant.region}
                %li <span class='attribute-line'>Background Check Consent:</span> #{@applicant.background_check_consent.to_s.capitalize}
                %li <span class='attribute-line'>Submitted:</span> #{@applicant.created_at.strftime("%A %B %d, %Y")}
        - else
          .consent-container
            %h1.title Thank you for your interest in joining our team!
            =link_to 'Edit Profile', edit_applicant_path(@applicant), class: 'btn btn-lg btn-block orange-btn'
            %p.subtitle Only one more thing to do!
            .legal-stuff
              .background-explain-title Background Check Confirmation
              .background-explain-subtitle In order to ensure a safe environment for both our employees, independent contractors and customers, we require a simple background check.
              .background-explain-action Please read the following information, and check and sign in electronically to allow us to conduct a background check.<br/>We Look forward to hearing from you!
              .background-explain-legal Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              = render 'background_check_consent_form'