%li
  = link_to 'New Shopper Application', new_applicant_path
%li
  = link_to 'Funnel Analytics', funnels_path
- if logged_in?
  %li 
    = link_to 'Profile', applicant_path(current_applicant)
  %li 
    = link_to 'Logout', logout_path
- else
  %li 
    = link_to 'Login', login_path