!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Shopper Challenge'

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', content: 'Shopper Challenge'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'https://d2nkqaulr5muje.cloudfront.net/assets/beetstrap/favicon-0995468e5b806a64af9233ad36ac3af784bdbb58405dd1fdc9f89ba93c7d4eb1.ico'

    = csrf_meta_tags

  %body
    %header
      = render 'layouts/navigation'

    %main{role: 'main'}
      = render 'layouts/messages'
      = yield
